
html, body { 
margin: 0; 
padding: 0; 
font-family:'Helvetica',sans-serif;
font-weight: bold;
width:100%;
} 



body { margin: 0; display: flex; overflow: hidden;
background:#000;} 

#brushtool{ display:inline-flex; justify-content:center; } 

#sidebar { 
  width: 220px; 
  height:975px;
  background: #f5f5f5; 
  padding: 15px; 
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1); 
} 

#canvas-container { 
flex: 1; position: relative; 
justify-content: center; 
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 13px;
  font-weight: 600;
  height: 24px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  width: 100%;
  outline: 0;
  margin-bottom:5px;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:focus {
  color: #171e29;
}

button:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
  background-color: #000000;
}

button:active {
  color: #FFFFFF;
  fill: #FFFFFF;
  background-color: #000000;
}

select {
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  width: 100%;
  padding: 0 6px;     /* normal padding */
  margin-bottom: 5px;
  cursor: pointer;
}



#brushtool {
  display: #00BCD4;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: center;
  gap: 20px;
}

#canvas-container {
  position: relative;
  background: #fff;
}

.spacer{
  padding:5%;
}


@media screen and (max-width: 480px) {
  #brushtool {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

